body{
	font-family: 'Montserrat', sans-serif;

}

h1{
	font-weight: bolder;
}


#image_1{
	height: 100%;
	margin: 0px;
	padding: 0px;
}


#slogan{
	text-align: center;
	color: #218047;
	animation-name: appear;
	animation-delay: 0s;
	animation-duration: 3s;
	animation-iteration-count: 1;
}




#slogan>h1{
	margin:40px 0px 40px 0px;
	font-size: 2em;
	
}

#section2{
	margin: 20px;
	text-align: center;
	position: relative;
	opacity: 0;
    animation-name: appear;
    animation-delay: 2s;
    animation-duration: 5s;
    animation-iteration-count: 1;
    position: relative;
}

@keyframes appear{
	from{opacity: 0;transform: scale(0.6);}
	to{opacity: 1;transform: none;}
}

#section2 h1{
	animation-name: spread;
	animation-delay: 7s;
	animation-duration: 2s;
    animation-iteration-count: 1
}

@keyframes spread{
	0%{letter-spacing: 0px;}
	50%{letter-spacing: 4px;}
	100%{letter-spacing: 0px;}
}



@media(min-width: 577px){
   #image_1{
   	border-top-right-radius: 50%;
   	border-bottom-right-radius: 50%;   
   }
   
   #slogan>i{
   	font-size: 2em;
   }
  
}

@media(max-width: 576px){
	#slogan{
		margin-top: 20px;
	}
    #slogan>h1{
	margin:10px 0px 10px 0px;
	font-size: 1.4em;
   }

   #section2{
	margin: 5px;
   }	

   
}

@media (min-width: 577px) and (max-width: 659px){
	 #slogan>h1{
	margin:5px 0px 5px 0px;
	font-size: 1.4em;
}	

}

@media (min-width: 661px){
   #slogan>h1{
	margin:20px 0px 20px 0px;
	font-size: 2em;
}	
}

@media (min-width:660px) and (max-width: 767px){
	
 #slogan>h1{
	margin:20px 0px 20px 0px;
	font-size: 1.6em;
}

}








